nav {
    margin: 35px auto 0;
    position: relative;
    right: -340px;
    width: 650px;
    height: 50px;
    /* background-color: #34495e; */
    border-radius: 8px;
    font-size: 0;
    }
nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color:royalblue;
    cursor: pointer;
}
nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}
a:nth-child(1) {
    width: 100px;
}
a:nth-child(2) {
    width: 110px;
}
a:nth-child(3) {
    width: 100px;
}
a:nth-child(4) {
    width: 160px;
}
a:nth-child(5) {
    width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
    width: 160px;
    left: 310px;
    background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
    width: 120px;
    left: 470px;
    background-color: #e67e22;
}

/* h1 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;
} */
span {
    color: #c6106e;
}
body{
    background-color:whitesmoke;
}

.banner-heading{
    text-align: center;
    font-family: 'poppins'
}

.intro{
    font-family: "Sofia", sans-serif;
    text-align: center;
    position: relative;
    top:100px;
}

/* .Projects{
   background-color: #003300;
   color:aliceblue
    
} */

.overview{
    text-align: center;
    position: relative;
    top:100px;

}
.column{
    float: left;
    width: 50%;
}
#portfolio_photo{
    width: 400px;
    height: 400px;
}
.Projects{
    margin: 20px;    
}
.seperator {
    

}

.info-button{
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 10px;
}
table, th, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
  }
  .header-col{
    float: left;
    width: 25%;
  }
.menu-col{
    float: left;
    width: 75%;
}

  .header-row{
    clear: both;
    content: "";
    display: table;
  }
.main-name{
   position: relative;
   left: 50px;
}